/CommandLineCalculator/nbproject/
/CommandLineCalculator/build.xml
/CommandLineCalculator/manifest.mf
/CommandLineCalculator/build/
/NumberGuessingGame/nbproject/private/
/NumberGuessingGame/build/
/PasswordGenerator/nbproject/private/
/PasswordGenerator/build/
/RockPaperScissors/nbproject/private/
